[Unit]
Description=This service to enable removable disk
After=systemd-modules-load.service multi-user.target

[Service]
Type=simple
ExecStart=/bin/sh -c "/usr/bin/enable-removable-disk.sh start"

[Install]
WantedBy=multi-user.target
